@model MembersViewModel

<div class="projects-top-bar">
    <h2>Member</h2>
    <button data-targetId="#add-member" data-openModal class="btn btn-primary ">+ Add Member</button>
</div>

@await Html.PartialAsync("PartialViews/_AddMember", Model)
@await Html.PartialAsync("PartialViews/_EditMember", Model)

 <div id="members-view" class="list-view"></div> 

<script>
    let debounceTimer;
    document.getElementById("search-field").addEventListener("input", (e) => {
        clearTimeout(debounceTimer);
        debounceTimer = setTimeout(() => {
            getMembers(e.target.value);
        }, 500);
    });

    async function getMembers(query = "") {
        const url = `https://localhost:8081/members/allMembers?query=${query}`;
        const data = await fetchData(url)

        const membersView = document.getElementById('members-view')
        membersView.innerHTML = "";
        for(const member of data) {
            const card = memberCard(member.id, member.imageUrl, member.firstName, member.lastName, member.jobTitle, member.phoneNumber, member.email)
            membersView.insertAdjacentHTML('beforeend', card)
        }
    }

    function memberCard(id, imageUrl, firstName, lastName, jobTitle, phone, email) {
        return `
            <div class="profile-card">
                <button onclick="fetchPopulateMember('${id}')" data-targetId="#edit-member" data-openModal class="flex flex-end btn-clean">
                    <i class="bi bi-three-dots"></i>
                </button>
                <img src="${imageUrl ? imageUrl : '/images/default-profile-picture.png'}" alt="member profile picture">
                <h4>${firstName} ${lastName}</h4>
                <div class="member-job-title">
                    <p>${jobTitle}</p>
                </div>
                <p>${phone}</p>
                <p>${email}</p>
                <button class="btn btn-secondary">Message</button>
            </div>
        `;
    }

    window.addEventListener('DOMContentLoaded', () => {
    getMembers();
    })
    
</script>
