@model MembersViewModel

<div class="projects-top-bar">
    <h2>Member</h2>
    <button data-targetId="#add-member" data-openModal class="btn btn-primary ">+ Add Member</button>
</div>

@await Html.PartialAsync("PartialViews/_AddMember", Model)
@await Html.PartialAsync("PartialViews/_EditMember", Model)

 <div id="members-view" class="list-view"></div> 
