@model ProjectViewModel

<div id="add-members" class="form-modal d-none">
    <div class="flex space-between">
        <h6>Add Members</h6>
        <button data-closeModal="true" class="btn-clean">x</button>
    </div>
    <div class="multiselect-plugin-container">
        <select asp-for="@Model.ProjectForm.MemberIds" multiple data-multi-select-plugin>
            @foreach (var member in Model.Members)
            {
                <option  value="@member.Id">
                    <div>
                        <img data-image src="@(member.ImageUrl ?? "/images/default-profile-picture.png")" />
                        <span data-content>@($"{member.FirstName} {member.LastName}")</span>
                    </div>
                </option>
            }
        </select>
    </div>
</div>

