<div class="popover-container">
    <button data-open-pop-over data-targetId="#notifications-popover" class="bell btn-clean ">
        <div class="new-notification"></div>
        <i class="bi bi-bell-fill"></i>
    </button>
    <div id="notifications-popover" class="popover popover-wide d-none">
        <div class="border-bottom flex space-between">
            <h4>Notifications</h4>
            <p class="notification-count">0</p>
        </div>
        <div>
            <div class="notification" data-id="">
                <img class="profile-img" src="/images/default-profile-picture.png"/>
                <div>
                    <p class="message">Emanuel Gustafzon forgot password</p>
                    <p class="time">1 h ago</p>
                </div>
                <button class="btn btn-clean">X</button>
            </div>
        </div>
    </div>
</div>