@{
    var userRole = User.FindFirstValue(ClaimTypes.Role) ?? "User";
}

<div class="popover-container">
    <button data-open-pop-over data-targetId="#notifications-popover" class="bell btn-clean ">
        <div id="has-notifications" class=""></div>
        <i class="bi bi-bell-fill"></i>
    </button>
    <div id="notifications-popover" class="popover popover-wide d-none">
        <div class="border-bottom flex space-between">
            <h4>Notifications</h4>
            <p id="notification-count" class="notification-count">0</p>
        </div>
        <div id="notifications"></div>
    </div>
</div>

