@model ProjectCreateFormModel

<div id="project-form" class="project-form d-none">
    <div class="flex space-between">
        <h6>Add Project</h6>
        <button id="close-project-form" class="btn-clean">x</button>
    </div>
    <form asp-action="Create" method="post" novalidate>
        <div class="add-photo-continer">
            <div class="dot-square">
                <div class="gray-circle">
                    <i class="bi bi-camera"></i>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ProjectName"></label>
            <input asp-for="ProjectName" class="form-control">
            <span asp-validation-for="ProjectName"></span>
        </div>
        <div class="form-group">
            <label asp-for="ClientName"></label>
            <input asp-for="ClientName" class="form-control">
            <span asp-validation-for="ClientName"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description"></span>
        </div>
        <div class="form-row">
            <div class="col-md-6 form-group">
                <label asp-for="StartDate"></label>
                <input asp-for="StartDate" class="form-control">
                <span asp-validation-for="StartDate"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="EndDate"></label>
                <input asp-for="EndDate" class="form-control">
                <span asp-validation-for="EndDate"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Budget"></label>
            <input asp-for="Budget" class="form-control">
            <span asp-validation-for="Budget"></span>
        </div>
        <div class="d-grid">
            <button id="create-project" type="submit" class="btn btn-primary">Button</button>
        </div>
    </form>
</div>
