@{
    var userId = User.Claims.FirstOrDefault(c => c.Type == System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
    var result = await memberService.GetMemberByIdAsync(userId);
    string url = result.Data?.ImageUrl ?? "/images/default-profile-picture.png";
    string fullName = $"{result.Data?.FirstName} {result.Data?.LastName}";
}
<div class="popover-container">
    <button data-open-pop-over data-targetId="#settings-popover" class="settings btn-clean">
        <i class="bi bi-gear-fill"></i>
    </button>
    <div id="settings-popover" class="popover d-none">
        <div>
            <div class="flex align user-settings-profile-info">
                <img src="@url" class="profile-img" alt="Profile Picture" />
                <span>@fullName</span>
            </div>
            <div class="theme-settings-container border-bottom">
                <div>
                    <i class="bi bi-gear-fill"></i>
                    <span class="px-1">Dark Mode</span>
                </div>
                <label class="toggle-container">
                    <input type="checkbox" id="theme-checkbox">
                    <span class="toggle-slider"></span>
                </label>
            </div>
        </div>
        <div class="sign-out-container">
            <i class="bi bi-box-arrow-right"></i>
            <a class="btn-clean" asp-action="SignOut" asp-controller="Auth">
                Log Out
            </a>
        </div>
    </div>
</div>
