@model AuthViewModel

<form asp-action="AddUserFromExternalProvider" asp-controller="Auth" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="form-floating mb-3">
        <input asp-for="ExternalLoginSignUpForm.Firstname" class="form-control" autocomplete="firstname" placeholder="Please enter your first name." />
        <label asp-for="ExternalLoginSignUpForm.Firstname" class="form-label"></label>
        <span asp-validation-for="ExternalLoginSignUpForm.Firstname" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="ExternalLoginSignUpForm.Lastname" class="form-control" autocomplete="lastname" placeholder="Please enter your last name." />
        <label asp-for="ExternalLoginSignUpForm.Lastname" class="form-label"></label>
        <span asp-validation-for="ExternalLoginSignUpForm.Lastname" class="text-danger"></span>
    </div>
    <button type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
</form>
