@{
    Layout = "_FormLayout";
}
@model AuthViewModel

<form asp-action="ForgotPassword" asp-controller="Auth" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="form-floating mb-3">
        <input asp-for="ForgotPasswordForm.Email" class="form-control" />
        <label asp-for="ForgotPasswordForm.Email" class="form-label"></label>
        <span asp-validation-for="ForgotPasswordForm.Email" class="text-danger"></span>
    </div>
    <button type="submit" class="w-100 btn btn-lg btn-primary">Send to admin</button>
</form>