@{
    Layout = "_FormLayout";
}
@model AuthViewModel

<div class="login-form-container">
    <h1>Create Account</h1>
    @if (Model.ExternalLogins != null && Model.ExternalLogins.Any())
    {
        <form class="external-login-form" method="post" asp-action="ExternalLogin" asp-controller="Auth">
            <div class="external-auth-btn-container">
                @foreach (var provider in Model.ExternalLogins)
                {
                    string providerName = provider.DisplayName.Split(" ")[0];

                    <button type="submit" class="btn btn-secondary external-login-btn" name="provider" value="@provider.Name">
                        <i class="bi bi-@(providerName.ToLower())"></i>
                        <span>Login with @providerName</span>
                    </button>
                }
            </div>
        </form>
    }
    <div class="separator">
        <span>or</span>
    </div>
    <form class="login-form" method="post" asp-controller="Auth" asp-action="SignUp" novalidate>

        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
        <p>@ViewBag.ErrorMessage</p>

        <div class="form-group">
            <label asp-for="SignUpForm.FirstName"></label>
            <input asp-for="SignUpForm.FirstName" class="form-control" value="@Model?.SignUpForm?.FirstName" />
            <span asp-validation-for="SignUpForm.FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SignUpForm.LastName"></label>
            <input asp-for="SignUpForm.LastName" class="form-control" value="@Model?.SignUpForm?.LastName" />
            <span asp-validation-for="SignUpForm.LastName" class="text-error"></span>
        </div>
        <div class="form-group">
            <label asp-for="SignUpForm.Email"></label>
            <input asp-for="SignUpForm.Email" class="form-control" />
            <span asp-validation-for="SignUpForm.Email" class="text-error"></span>
        </div>
        <div class="form-group">
            <label asp-for="SignUpForm.Password"></label>
            <input asp-for="SignUpForm.Password" class="form-control" />
            <span asp-validation-for="SignUpForm.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SignUpForm.ConfirmPassword"></label>
            <input asp-for="SignUpForm.ConfirmPassword" class="form-control"/>
            <span asp-validation-for="SignUpForm.ConfirmPassword" class="text-error"></span>
        </div>
        <div class="form-group">
            <input asp-for="SignUpForm.AcceptTerms" type="checkbox" />
            <span>I Accept </span>
            <a class="color-accent" asp-controller="Auth" asp-action="TermsAndConditions">Terms and Conditions</a>
            <span asp-validation-for="SignUpForm.AcceptTerms" class="text-error"></span>
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
    <p>Already have an account? <a class="color-accent" asp-controller="Auth" asp-action="SignIn">Sign In</a></p>
</div>