@{
    Layout = "_FormLayout";
}
<div class="terms-and-conditions">
    <h2>Terms and Conditions</h2>
    <p><strong>Last Updated:</strong> 04/28 </p>

    <p>Welcome! Before using our services, please read these Terms and Conditions ("Terms") carefully.</p>

    <p>By accessing or using our website, application, or services, you agree to be bound by these Terms.</p>

    <h3>1. Use of Services</h3>
    <p>You agree to use our services only for lawful purposes and in a way that does not infringe the rights of, restrict, or inhibit anyone else's use and enjoyment.</p>

    <h3>2. Intellectual Property</h3>
    <p>All content, trademarks, and data on this site, including but not limited to text, graphics, logos, images, and software, are the property of Alpha or its licensors.</p>

    <h3>3. User Accounts</h3>
    <p>You are responsible for maintaining the confidentiality of your account and password and for restricting access to your computer or device. You accept responsibility for all activities that occur under your account or password.</p>

    <h3>5. Limitation of Liability</h3>
    <p>We are not liable for any indirect, incidental, special, consequential, or punitive damages arising out of your use or inability to use our services.</p>

    <h3>6. Changes to Terms</h3>
    <p>We may update these Terms from time to time. Continued use of our services after changes have been made will constitute your acceptance of the new Terms.</p>

    <p><strong>By using our services and/or checking the acceptance box, you agree to these Terms and Conditions.</strong></p>
    <a class="color-accent" asp-controller="Auth" asp-action="SignUp">Go back</a>
</div>
