@model ProjectViewModel
@{
    ViewData["Title"] = "Projects";
}
<div class="projects-top-bar">
    <h2>Projects</h2>
    <button data-targetId="#add-project" data-openModal="true" class="btn btn-primary ">+ Add Project</button>
</div>
<div class="filter-projects">
    <div class="active-filter tab-link">
        <p>ALL[8]</p>
    </div>
    <div class="nav-link">
        <p>STARTED[4]</p>
    </div>
    <div class="nav-link">
        <p>COMPLETED[2]</p>
    </div>
</div>
<div class="projects-view">

</div>

@await Html.PartialAsync("PartialViews/_AddProject", Model)



