@model ProjectViewModel
@{
    ViewData["Title"] = "Projects";
}
<div class="projects-top-bar">
    <h2>Projects</h2>
    <button data-targetId="#add-project" data-openModal class="btn btn-primary ">+ Add Project</button>
</div>

@await Html.PartialAsync("PartialViews/_AddProject", Model)
@await Html.PartialAsync("PartialViews/_AddProjectmembers", Model)
@await Html.PartialAsync("PartialViews/_EditProject", Model)

<div class="filter-projects">
    <div id="all" class="active-filter">
        <button class="btn-clean" data-filter-status>ALL[<span id="count-all">0</span>]</button>
    </div>
    <div id="started">
        <button  class="btn-clean" data-filter-status>STARTED[<span id="count-started">0</span>]</button>
    </div>
    <div id="completed">
        <button class="btn-clean" data-filter-status>COMPLETED[<span id="count-completed">0</span>]</button>
    </div>
</div>

<div id="projects-view" class="list-view"></div>




